.logo-icon,
.watcal {
  height: 26px;
  position: relative;
}
.logo-icon {
  width: 26px;
  object-fit: contain;
  min-height: 26px;
}
.watcal {
  flex: 1;
  line-height: 130%;
  font-weight: 500;
  display: inline-block;
}
.logo-container,
.navigation-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-container {
  align-self: stretch;
  flex-direction: row;
}
.navigation-container {
  width: 100px;
  flex-direction: column;
  padding: 7px 0 0;
  box-sizing: border-box;
}
.icon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
.navbar {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.button {
  border-radius: 82px;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 14px;
}
.navbar {
  align-self: stretch;
  border: 1px solid #fff;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px 15px 2px 13px;
  flex-shrink: 0;
  debug_commit: 448091;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  text-align: center;
  font-size: 16px;
  color: #1a1a1a;
  font-family: Lexend;
}
.abstract-design-icon {
  height: 241px;
  width: 348px;
  position: absolute;
  margin: 0 !important;
  right: -30px;
  bottom: -127px;
  object-fit: contain;
}
.blank-line,
.sign-up {
  margin: 0;
  font-size: 28px;
  color: #06cc02;
}
.as-a-landlord {
  margin: 0;
  font-size: 11px;
  color: #bfbfbf;
}
.heading {
  flex: 1;
  position: relative;
  font-weight: 500;
  font-family: Lexend;
  text-align: center;
  z-index: 1;
}
.abstract-design-parent,
.paragraph {
  align-self: stretch;
  position: relative;
}
.abstract-design-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph {
  font-size: 14px;
  font-weight: 300;
  font-family: Lexend;
  color: #bfbfbf;
  text-align: center;
  z-index: 1;
}
.side-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 16px;
  gap: 16px;
}
.username {
  position: relative;
  font-size: 16px;
  line-height: 87.52%;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
  min-width: 81px;
  z-index: 1;
}
.frame-child {
  height: 44px;
  width: 298px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: none;
}
.melissa-peters {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Inter;
  font-size: 14px;
  background-color: transparent;
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 87.52%;
  color: #bfbfbf;
  text-align: left;
  display: inline-block;
  min-width: 161px;
  padding: 0;
  z-index: 1;
}
.input-rows,
.rectangle-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent {
  border-radius: 6px;
  border: 1px solid #fff;
  flex-direction: row;
  padding: 12px 13px;
}
.input-rows {
  flex-direction: column;
  padding: 0 0 11px;
  gap: 13.5px;
}
.email {
  width: 107px;
  position: relative;
  font-size: 16px;
  line-height: 87.52%;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.frame-item {
  height: 44px;
  width: 298px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: none;
}
.melpetersgmailcom {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Inter;
  font-size: 14px;
  background-color: transparent;
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 87.52%;
  color: #bfbfbf;
  text-align: left;
  display: inline-block;
  min-width: 161px;
  white-space: nowrap;
  padding: 0;
  z-index: 1;
}
.input-rows1,
.rectangle-group {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  border-radius: 6px;
  border: 1px solid #fff;
  flex-direction: row;
  padding: 12px 13px;
}
.input-rows1 {
  flex-direction: column;
  padding: 0 0 11px;
  gap: 13px;
}
.date-of-birth {
  width: 174.1px;
  position: relative;
  font-size: 16px;
  line-height: 87.52%;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.frame-inner {
  height: 44px;
  width: 298px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: none;
}
.ddmmyyyy {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Inter;
  font-size: 14px;
  background-color: transparent;
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 87.52%;
  color: #bfbfbf;
  text-align: left;
  display: inline-block;
  min-width: 161px;
  padding: 0;
  z-index: 1;
}
.input-rows2,
.rectangle-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  border-radius: 6px;
  border: 1px solid #fff;
  flex-direction: row;
  padding: 12px 13px;
}
.input-rows2 {
  flex-direction: column;
  padding: 0 0 11px;
  gap: 11px;
}
.enter-password {
  width: 174.1px;
  position: relative;
  font-size: 16px;
  line-height: 87.52%;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.component-9-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
}
.date-info-icon {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  font-family: Inter;
  color: #bfbfbf;
  text-align: left;
  z-index: 1;
}
.info-icons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  min-width: 152px;
}
.eye-icon {
  height: 20px;
  width: 16.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.component-9,
.input-rows3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-9 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px 13px;
  position: relative;
  gap: 16.7px;
}
.input-rows3 {
  flex-direction: column;
  padding: 0 0 11px;
  gap: 13px;
}
.confirm-password {
  width: 174.1px;
  position: relative;
  font-size: 16px;
  line-height: 87.52%;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.component-9-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
}
.div {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  font-family: Inter;
  color: #bfbfbf;
  text-align: left;
  z-index: 1;
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  min-width: 152px;
}
.eye-icon1 {
  height: 20px;
  width: 16.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.component-91,
.input-rows4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-91 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px 13px;
  position: relative;
  gap: 16.7px;
}
.input-rows4 {
  flex-direction: column;
  padding: 0 0 11px;
  gap: 13px;
}
.house-address {
  width: 186.2px;
  position: relative;
  font-size: 16px;
  line-height: 87.52%;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.rectangle-div {
  height: 44px;
  width: 298px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: none;
}
.frame-input {
  width: calc(100% - 46.6px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 18.5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #bfbfbf;
  min-width: 153px;
}
.iconoutlinequestion {
  height: 20px;
  width: 20.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
  z-index: 1;
}
.group-div,
.input-rows5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-div {
  border-radius: 6px;
  border: 1px solid #fff;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 13px 11px;
  gap: 12.5px;
}
.input-rows5 {
  flex-direction: column;
  padding: 0 0 11px;
  gap: 13px;
}
.meter-type {
  width: 174.7px;
  position: relative;
  font-size: 16px;
  line-height: 87.52%;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.frame-child1 {
  height: 44px;
  width: 298px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: none;
}
.prepaidpostpaid {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Inter;
  font-size: 14px;
  background-color: transparent;
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 87.52%;
  color: #bfbfbf;
  text-align: left;
  display: inline-block;
  min-width: 161px;
  padding: 0;
  z-index: 1;
}
.input-rows6,
.rectangle-parent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  border-radius: 6px;
  border: 1px solid #fff;
  flex-direction: row;
  padding: 12px 13px;
}
.input-rows6 {
  flex-direction: column;
  padding: 0 0 11px;
  gap: 13px;
}
.meter-serial-number {
  width: 249px;
  position: relative;
  font-size: 16px;
  line-height: 87.52%;
  display: inline-block;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.frame-child2 {
  height: 44px;
  width: 298px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: none;
}
.xxxxxxx {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Inter;
  font-size: 14px;
  background-color: transparent;
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 87.52%;
  color: #bfbfbf;
  text-align: left;
  display: inline-block;
  min-width: 161px;
  padding: 0;
  z-index: 1;
}
.input-rows7,
.rectangle-parent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent2 {
  border-radius: 6px;
  border: 1px solid #fff;
  flex-direction: row;
  padding: 12px 13px;
}
.input-rows7 {
  flex-direction: column;
  padding: 0 0 11px;
  gap: 13px;
}
.broom-icon {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 25px;
}
.add-room {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Lexend;
  color: #1a1a1a;
  text-align: center;
  display: inline-block;
  min-width: 62px;
}
.add-room-label,
.button-wrapper,
.button1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-room-label {
  flex-direction: column;
  padding: 2.5px 0 0;
}
.button-wrapper,
.button1 {
  flex-direction: row;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 6px 28px;
  background-color: #bfbfbf;
  border-radius: 63px;
  gap: 10px;
}
.button-wrapper {
  padding: 0 0 11px;
}
.line {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid #b3b3b3;
  box-sizing: border-box;
}
.horizontal-separator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 35.5px;
}
.button-labels {
  flex: 1;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Lexend;
  color: #1a1a1a;
  text-align: center;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 14px 24px;
  background-color: #06cc02;
  align-self: stretch;
  border-radius: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.text {
  flex: 1;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Lexend;
  color: #fff;
  text-align: center;
}
.button3 {
  cursor: pointer;
  border: 1px solid #333;
  padding: 12px 23px;
  background-color: #1a1a1a;
  align-self: stretch;
  border-radius: 63px;
  flex-direction: row;
}
.action-buttons,
.action-buttons-wrapper,
.button3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.action-buttons {
  flex: 1;
  flex-direction: column;
  gap: 24px;
}
.action-buttons-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 49px;
}
.line1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #b3b3b3;
  box-sizing: border-box;
}
.legal-dividers {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 9px;
  box-sizing: border-box;
}
.line2,
.text1 {
  position: relative;
}
.text1 {
  font-size: 13px;
  line-height: 20px;
  font-family: Lexend;
  color: #b3b3b3;
  text-align: center;
  display: inline-block;
  min-width: 106px;
}
.line2 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid #b3b3b3;
  box-sizing: border-box;
}
.legal-dividers1 {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 9px;
  box-sizing: border-box;
}
.legal-dividers-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
}
.icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button4 {
  height: 52px;
  width: 52px;
  border-radius: 50px;
  background: linear-gradient(
    180deg,
    rgba(37, 34, 185, 0.1),
    rgba(77, 52, 232, 0) 46.77%
  );
  border: 1px solid rgba(27, 85, 206, 0.17);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 14px 13px;
}
.button4,
.icon-container,
.icon-container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.icon-container {
  height: 68px;
  width: 68px;
  border-radius: 70px;
  background: linear-gradient(
    180deg,
    rgba(191, 191, 191, 0.05),
    rgba(51, 108, 255, 0)
  );
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
}
.icon-container-wrapper {
  align-self: stretch;
  justify-content: center;
}
.content,
.sign-up-landlord,
.sign-up-landlord-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sign-up-landlord {
  margin: 0;
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  flex-direction: column;
  padding: 28px 29px 20px;
  box-sizing: border-box;
  gap: 24px;
  background-image: url(./public/sign-up-landlord@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  debug_commit: 448091;
}
.content,
.sign-up-landlord-wrapper {
  align-self: stretch;
}
.sign-up-landlord-wrapper {
  flex-direction: row;
  padding: 0 16px;
  box-sizing: border-box;
}
.content {
  flex-direction: column;
}
.text-button {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 38px;
  cursor: pointer;
}
.brand-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 66px 0 0;
}
.logo-icon1 {
  height: 36px;
  width: 36px;
  position: relative;
  object-fit: contain;
  min-height: 36px;
}
.watcal1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 86px;
}
.footer-links,
.logo-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-parent {
  gap: 6px;
}
.footer-links {
  padding: 0 1px;
}
.text-button1,
.text-button2,
.text-button3 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 64px;
  cursor: pointer;
}
.text-button2,
.text-button3 {
  min-width: 39px;
}
.text-button3 {
  min-width: 52px;
}
.footer-navigation,
.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  font-size: 13px;
  color: #e3e3e8;
}
.footer-navigation {
  flex: 1;
  flex-direction: column;
  gap: 30px;
  min-width: 119px;
  font-size: 24px;
  color: #fff;
}
.footer-content,
.footer-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-top {
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 14px;
}
.footer-content {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 61px;
}
.footer-dividers {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #1a1a1a;
  box-sizing: border-box;
}
.icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.text-button4 {
  position: relative;
  line-height: 20px;
  white-space: nowrap;
}
.button5 {
  align-self: stretch;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.icon3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.text-button5 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.button6,
.privacy-button {
  flex-direction: row;
  justify-content: flex-start;
}
.button6 {
  border-radius: 6px;
  display: flex;
  align-items: flex-start;
  gap: 6px;
}
.privacy-button {
  align-self: stretch;
  padding: 0 40px;
}
.connect-options,
.privacy-button,
.social-connect {
  display: flex;
  align-items: flex-start;
}
.connect-options {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.social-connect {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 73px;
}
.footer-dividers1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #1a1a1a;
  box-sizing: border-box;
}
.icon4 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.facebook-button {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  background-color: #06cc02;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  box-sizing: border-box;
}
.icon5 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.twitter-button {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  background-color: #06cc02;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  box-sizing: border-box;
}
.icon6 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.legal-and-social,
.linkedin-button,
.social-icons-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkedin-button {
  height: 44px;
  width: 44px;
  border-radius: 100px;
  background-color: #06cc02;
  flex-direction: column;
  padding: 12px;
  box-sizing: border-box;
}
.legal-and-social,
.social-icons-container {
  flex-direction: row;
}
.social-icons-container {
  gap: 8px;
}
.legal-and-social {
  align-self: stretch;
  padding: 0 67px;
}
.text2 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
}
.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 17px;
}
.text-button6 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  min-width: 85px;
}
.link-divider {
  height: 21px;
  width: 1px;
  position: relative;
  border-right: 1px solid #b3b3b3;
  box-sizing: border-box;
}
.text-button-parent {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.text-button7 {
  position: relative;
  line-height: 20px;
  font-weight: 300;
  display: inline-block;
  min-width: 102px;
}
.copyright-content,
.policy-links,
.sub-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.policy-links {
  flex-direction: row;
  gap: 7px;
}
.copyright-content,
.sub-container {
  flex-direction: column;
}
.sub-container {
  align-self: stretch;
  border-radius: 12px;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 8px 38px 13px;
  gap: 20px;
}
.copyright-content {
  flex: 1;
  gap: 6px;
}
.copyright-content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 29px 0 38px;
  color: #b3b3b3;
}
.footer-section,
.landlord-signup-page-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-section {
  align-self: stretch;
  border-radius: 20px 20px 0 0;
  background-color: #1c1c1c;
  align-items: flex-end;
  padding: 50px 16px 90.1px;
  gap: 29.5px;
  text-align: left;
  font-size: 13px;
  color: #e3e3e8;
  font-family: Lexend;
}
.landlord-signup-page-mobile {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  padding: 0.1px 0 0.5px;
  box-sizing: border-box;
  gap: 9.6px;
  line-height: normal;
  letter-spacing: normal;
}